.intro {
    .main-image-bg {
        // position: relative;
        position: absolute;
        bottom: 0;
        z-index: 0;
        // margin-top: -30%;
        filter: grayscale(1) opacity(0.3) blur(2px);
    }

    .main-content {
        position: absolute;
        left: 0;
        top: 35%;
        width: 100%;

        h1 {
            font-size: 7rem;
        }
    }

    .main-links {
        position: absolute;
        bottom: 25%;
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 4rem;

        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                text-decoration: none;
                color: inherit;
            }
        }
    }
}

