$c-main: #4A4A4A;
$c-text: #CCCCB8;
$c-accent: #995C5C;
$c-garish: #ECFFBF;
$c-middle: #FFF;

$body-bg: $c-main;
$body-color: $c-text;
$font-family-sans-serif: 'Muli', sans-serif;
$font-weight-normal: 300;