$body-bg: #FFF;
$font-family-sans-serif: "Lato", Arial, sans-serif;

$bg-main: mix(#4D71AA, #000, 75%);

// Scaffolding
$link-color: inherit;
$link-hover-decoration: none;
$link-hover-color: inherit;


// Navbars
$navbar-default-bg: $bg-main;
$navbar-border-radius: 0;
$navbar-padding-horizontal: 0;
$navbar-default-color: #FFF;
$navbar-default-link-color: #FFF;
$navbar-default-border: $navbar-default-bg;
