---
layout: main.hbs
title: About
page_classes: 
---

<h2><strong>About Me</strong></h2>

<hr>

<p>Hello there, I'm Austin Burdine.</p>

<p>I'm a web developer based out of Bourbonnais, IL.</p>

<p>I'm also a Computer Science major at Olivet Nazarene University.</p>

<p>My primary skills are in web development (HTML/CSS/Javascript), but I also have experience in a variety of other areas.</p>
