---
title: Home
---

<section class="intro">
  <img class="img-fluid main-image-bg" src="/images/main-pic.jpg" />

  <div class="main-content">
    <h1 class="text-center">Austin Burdine</h1>
    <h2 class="text-center"><em>Fullstack JavaScript and PHP developer</em></h2>
  </div>

  <div class="main-links">
    <a href="https://github.com/acburdine/" target="_blank">
      <i class="fa fa-github-square fa-fw"></i>
    </a>

    <a href="https://linkedin.com/in/acburdine/" target="_blank">
      <i class="fa fa-linkedin-square fa-fw"></i>
    </a>

    <a href="https://twitter.com/acburdine/" target="_blank">
      <i class="fa fa-twitter-square fa-fw"></i>
    </a>

    <a href="mailto:austin@acburdine.me">
      <i class="fa fa-envelope fa-fw"></i>
    </a>
  </div>
</section>