---
title: Home
---

<main>
    <div class="main-splash">
        <div class="splash-info-container">
            <div class="splash-info">
                <img class="img-responsive img-circle" src="/img/profile.jpg" />
                <h1>Austin Burdine</h1>

                <nav class="splash-nav">
                    <a href="/about/">
                        About
                    </a>

                    <!-- <a href="/projects/">
                        Projects
                    </a>

                    <a href="/portfolio/">
                        Portfolio
                    </a>

                    <a href="/contact/">
                        Contact
                    </a> -->
                </nav>

                <em>Full-Stack Javascript/PHP developer</em>

                <div class="social-icons">
                    <a href="https://github.com/acburdine/" target="_blank">
                        <i class="fa fa-github-square fa-fw"></i>
                    </a>

                    <a href="https://linkedin.com/in/acburdine/" target="_blank">
                        <i class="fa fa-linkedin-square fa-fw"></i>
                    </a>

                    <a href="https://twitter.com/acburdine/" target="_blank">
                        <i class="fa fa-twitter-square fa-fw"></i>
                    </a>

                    <a href="mailto:austin@acburdine.me">
                        <i class="fa fa-envelope fa-fw"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
